<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kivicube.webar" >
    <!--webar总要加载网页的-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--webar需要打开摄像头-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
</manifest>
